@media (max-width:1024px) {
    .grid-vocabulary {
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
    }

    .photo-train {
        width: 100%
    }

    .text-student:nth-child(2n) {
        border: 0;
    }

    .container.train {
        grid-template-columns: 1fr;
    }
    .mw-1030.container{
        gap:10px
    }
    .hero {

        text-align: center;
        align-items: center;
    }

    .hero-text {
        width: 100%;
    }
    .photo-aw{
        border-radius: 20px;
        overflow: hidden;
    }

    .title-features {
        text-align: center;
    }

    .title-features span {
        width: 100%;
    }

    .ai-text {
        width: 100%;
    }

    .plane {
        width: 100%;
    }

    .features-item {
        flex: 0 0 calc((100% / 2) - (20px / 2));
        border-radius: 10px;
        text-align: center;

    }

    .comment-item {
        flex: 0 0 calc((100% / 2) - (20px / 2));
    }

    .package-label {

        flex: 0 0 calc((100% / 2) - (20px /2));
    }

    .footer_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px
    }

    .topic-item {
        flex: 0 0 calc((100% / 3) - (40px / 3));
    }

    .tutorial-item {
        flex: 0 0 calc((100% / 3) - (40px / 3));
    }

    .text-lexicon {
        flex: 0 0 calc((100% / 2) - (14px / 2));
    }
    .photo-test{
        border-radius: 20px;
        overflow: hidden;
    }
}

@media (max-width:768px) {
    .btn-profile{
        width: 100%;
        justify-content: center;
        
    }

    .aw{
        grid-template-columns: 1fr;
    }
    .photo-test {
    width: 100%;
    }
    .container.mw-1200.flex.g-50 {
        flex-wrap: wrap;
    }
    .pay {
    gap:0;
    width: 100%;
    }

    .topic-item {
        flex: 0 0 calc((100% / 2) - (20px / 2));
    }

    .tutorial-item {
        flex: 100%;
    }

    .flex-3-40 {
        flex: 100%;
    }

    .mw-1030.container.flex.g-100 {
        flex-wrap: wrap;
    }

    .khung {
        flex-direction: column;
    }

    .text-student {
        border: 0;
    }

    .calculate {
        width: 100%;
    }

    .info-bill {
        width: 100%;
    }

    .grid-vocabulary {

        grid-template-columns: 1fr;

    }

    .nav {
        display: none;
    }

    .menu {
        display: flex;
    }



    .hero-image {
        display: none;
    }
    .btn-hero{
        margin-bottom:50px;
    }




    .features-item {
        flex: 0 0 calc(100% - 20px);
        border-radius: 10px;
        text-align: center;

    }

    .comment-item {
        flex: 0 0 calc(100% - 20px);
    }

    .package-label {

        flex: 0 0 calc(100% - 20px)
    }

    .package-item {
        flex: 1;
    }

    .footer_list {
        grid-template-columns: 1fr;

        gap: 30px;
    }
    .info{  flex-wrap: wrap}
}
@media (max-width:470px){
    .time-btn .time-exam {
        position: relative;
    }
   .icon-text{
        display: none;
    }
    .photo-test{
        border-radius: 10px ;
        overflow: hidden;
        height: 100%;
    }
}

@media (max-width:320px) {
    .package-item{
        gap:10px;
    }
    .container.mw-1130{
        padding: 0;
    }
    .topic-item{
        flex:100%
    }
    
}