.b-while {
    background-color: #FFFFFF;
}

.b-orange {
    background-color: #FCBD28;
}

.b-cart {
    background-color: #FFFFFF;
}

.black {
    color: #121212;
}

.while {
    color: #FFFFFF;
}

.orange {
    color: #F4B00C;
}

.yellow {
    color: yellow;
}

.red {
    color: #FF2D55;
}

.blue {
    color: #0073FB;
}

.br-body {
    background-color: #f5f5f5;
}

.b-blue {
    background-color: #0073FB;
}

.black-op {
    color: #12121299;
}

.red-brown {
    color: #B40707;
}

.purple {
    color: #BE00BB
}