@media only screen and (max-width:1024px) {
    .grid-vocabulary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 100px;
    }

    .hero-image {
        display: none;
    }

    .title-features {
        display: grid;
        text-align: center;


    }

    .title-features span {
        width: 100%;
    }

    .features-list {
        display: grid;
    }

    .ai-text {
        width: 100%;
    }

    .plane {
        width: 100%;
    }

    .comment-item {
        flex: 0 0 calc((100% / 2) - (10px / 2));
    }

    .package-label {
        flex: 0 0 calc((100% / 2) (20px / 2));
    }

    .footer_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px
    }
}

@media only screen and (max-width:768px) {

    .comment-item {
        flex: 0 0 calc(100% - 5px);
    }

    .footer_list {
        display: flex;

        gap: 10px
    }
}