.text-60-600 {
    font-size: 60px;
    font-weight: 600;
}

.text-30-600 {
    font-size: 30px;
    font-weight: 600;
}

.text-18-500 {
    font-size: 18px;
    font-weight: 500;
}

.text-18-300 {
    font-size: 18px;
    font-weight: 300;
}

.text-16-300 {
    font-size: 16px;
    font-weight: 300;
}

.text-25-600 {
    font-size: 25px;
    font-weight: 600;
}

.text-40-600 {
    font-size: 40px;
    font-weight: 600;
}

.text-18-500 {
    font-size: 18px;
    font-weight: 500;
}

.text-80-700 {
    font-size: 80px;
    font-weight: 700;
}

.text-18-600 {
    font-weight: 600;
    font-size: 18px;
}

.text-60-700 {
    font-size: 60px;
    font-weight: 700;
}

.text-25-400 {
    font-size: 25px;
    font-weight: 400;
}

.text-16-400 {
    font-size: 16px;
    font-weight: 400;
}

.text-18-400 {
    font-size: 18px;
    font-weight: 400;
}

.text-18-700 {
    font-size: 18px;
    font-weight: 700;
}

.text-15-400 {
    font-size: 15px;
    font-weight: 400;
}

.text-15-500 {
    font-size: 15px;
    font-weight: 500;
}

.text-25-500 {
    font-size: 25px;
    font-weight: 500;
}

.text-16-500 {
    font-size: 16px;
    font-weight: 500;
}

.text-22-500 {
    font-size: 22px;
    font-weight: 500;
}

.text-20-500 {
    font-size: 20px;
    font-weight: 500;
}

.text-15-600 {
    font-size: 15px;
    font-weight: 600;
}

.text-14-500 {
    font-size: 14px;
    font-weight: 500;
}

.text-14-200 {
    font-size: 14px;
    font-weight: 200;
}

.text-14-300 {
    font-size: 14px;
    font-weight: 300;
}

.line {
    text-decoration: line-through;
}

.text-20-400 {
    font-size: 20px;
    font-weight: 40px;
}

.text-30-700 {
    font-size: 30px;
    font-weight: 700;
}

.text-15-700 {
    font-size: 15px;
    font-weight: 700;
}

.text-20-300 {
    font-size: 20px;
    font-weight: 300;
}

.text-40-700 {
    font-size: 40px;
    font-weight: 700
}

.text-right {
    text-align: start;
}

.text-17-400 {
    font-size: 17px;
    font-weight: 400;
}

.text-15-300 {
    font-size: 15px;
    font-weight: 300
}
.text-9-400{
    font-size: 9px;
    font-weight: 400;
}